
table, th, td {
    border: 1px solid black;
  }


/* Slider Gubbins */
  .slider-container   {  
    position: relative; 
  }  

  .slider-container .slider-parent {    
    height: 30vh;    
    max-width: 250px;    
    width: 100%;    
    background: #6C7A89;    
    position: absolute;    
    left: -250px;    
    top: 50px;    
    visibility: hidden;    
    opacity: 0;    
    pointer-events: none;    
    transition: .2s all linear; 
  }

  .slider-container .slider-parent.active {      
    visibility: visible;      
    pointer-events: inherit;      
    transition: .2s all ease-in-out;      
    opacity: 1;      
    left: 0; 
  }